@model IEnumerable<Feed_Production.Models.Customer_Models>
@{
    ViewBag.Title = "ReportMCustomer";
}

<h2>ReportMCustomer</h2>
<table class="table table-bordered">
    <tr>
        <th>Code</th>
        <th>BrokeragePer</th>
        <th>Name</th>
        <th>Address</th>
        <th>PhoneNo</th>
        <th>CellNo</th>
        <th>BankId</th>
        <th>AccountNo</th>
        <th>IFSCCode</th>
        <th>VATNo</th>
        <th>CSTNo</th>
        <th>BSTNo</th>
        <th>PANNo</th>
        <th>TANNo</th>
        <th>EmailId</th>
        <th>FAXNo</th>
        <th>ContactPerson</th>
        <th>Remark</th>
        <th>BankName</th>
        <th>BranchName</th>
        <th>BankAddress</th>
        <th>Type</th>
        
    </tr>

</table>

