@model IEnumerable<Feed_Production.Models.MFinancialYear_Models>
@{
    ViewBag.Title = "ReportMFinancialYear";
}

<h2>ReportMFinancialYear</h2>
<table class="table table-bordered">
    <tr>
        <th>Year</th>
        <th>Fyear</th>
        <th>Close</th>
        <th>Type</th>
    </tr>

</table>

