@model IEnumerable<Feed_Production.Models.MExpenses_Models>
@{
    ViewBag.Title = "ReportMExpenses";
}

<h2>ReportMExpenses</h2>
<table class="table table-bordered">
    <tr>
        <th>Module</th>
        <th>code</th>
        <th>Name</th>
        <th>Limit</th>
        <th>Flag</th>
        <th>Expense</th>
        <th>Type</th>
    </tr>

</table>

